body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

canvas {
    border: 1px solid #fff;
